.container {
  display: flex ;
  height: 100%;
  flex-flow:row wrap;
}

.left-column {
  flex: 1;
  order: 0;
  height:100%;
  width: 15%;
  background-color: rgb(250, 250, 250);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
}
.left-column::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 99%; /* 分割线的位置 */
  width: 1px;
  background-color: rgba(0, 0, 0, 0.5); /* 灰色半透明 */
}

.center-column {
  flex:1;
  order: 1;
  flex-wrap:wrap;
  background-color: rgb(250, 250, 250);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 15%;
  margin-top: 50px;
}

.color-block-container {
  display: flex;
}

.color-block {
  width: 150px;
  height: 80px;
  background-color: gray;
  border-radius: 10px;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}

.blue {
  background-color: rgb(165, 165, 255);
}

.gray {
  background-color: rgb(190, 190, 190);
}

.blocktext{
  margin-top: 10px;
  margin-right: 10px;
}
ul{
  list-style-type: none;
}
.leftline{
  border-left: solid #dedede;
  height:100%;
  left: 15%;
  position: absolute;
 }
 .rightline{
  border-left: solid #dedede;
  height:100%;
  right: 22%;
  position: absolute;
 }

 .top{
    position:fixed;
    background-color: antiquewhite;
    width: 85%;
    height:50px;
    right:0;
    top:0px;
 }